<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>


<!-- Mirrored from p.w3layouts.com/demos_new/template_demo/20-12-2017/airline_booking_form-demo_Free/828699705/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 26 Mar 2018 16:09:19 GMT -->
<head>
    <title>Airline Booking Form a Responsive Widget Template :: w3layouts</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Airline Booking Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
    />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tags -->
    <!-- Stylesheet -->
    <link href="{{asset('Formulaire/css/wickedpicker.css')}}" rel="stylesheet" type='text/css' media="all" />
    <link rel="stylesheet" href="{{asset('Formulaire/css/jquery-ui.css')}}" />
    <link href="{{asset('Formulaire/css/style.css')}}" rel='stylesheet' type='text/css' />
    <!-- //Stylesheet -->
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <!--//fonts-->
</head>

<body>
<!--background-->
<!---728x90--->
<h1>All For Kids Covoiturage Form </h1>
<!---728x90--->
<div class="booking-form-w3layouts">
    <!-- Form starts here -->
    <form  method="post">
        <h2 class="sub-heading-agileits">Covoiturage Details</h2>
        <div class="main-flex-w3ls-sectns">
            <div class="field-agileinfo-spc form-w3-agile-text1">
                <input type="text" name="IdUser" placeholder="IdUser"  required="">
            </div>
        </div>
        <div class="main-flex-w3ls-sectns">
            <div class="field-agileinfo-spc form-w3-agile-text1">
                <select class="form-control" name="Depart">
                    <option>Depart</option>
                    <option value="Tunis">Tunis</option>
                    <option value="Ariana">Ariana</option>
                    <option value="Borij Louzir">Borij Louzir</option>
                    <option value="baab saadoun">baab saadoun</option>
                    <option value="City Khathra">City Khathra</option>
                    <option value="bebejdid">bebejdid</option>
                </select>
            </div>
            <div class="field-agileinfo-spc form-w3-agile-text2">
                <select class="form-control"name="Arriver">
                    <option>Arriver</option>
                    <option value="Tunis">Tunis</option>
                    <option value="Ariana">Ariana</option>
                    <option value="Borij Louzir">Borij Louzir</option>
                    <option value="baab saadoun">baab saadoun</option>
                    <option value="City Khathra">City Khathra</option>
                    <option value="bebejdid">bebejdid</option>
                </select>
            </div>
        </div>

        <div class="main-flex-w3ls-sectns">
            <div class="field-agileinfo-spc form-w3-agile-text1">
                <input id="datepicker" name="Date" type="text" placeholder="Date Depart" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
                       required="">
            </div>
            <div class="field-agileinfo-spc form-w3-agile-text2">
                <input type="text" id="timepicker" name="Time" class="timepicker form-control" placeholder="Horaire Depart" value="">
            </div>
        </div>

        <div class="triple-wthree">
            <div class="field-agileinfo-spc form-w3-agile-text11">
                <select class="form-control" name="Nbr">
                    <option value="">Nbr des places Dispo</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div></div>

        <div class="clear"></div>
        <input type="submit" value="Ajouter ">
        <input type="reset" value="Clear Form">

        <div class="clear"></div>
        <div class="main-flex-w3ls-sectns">
            <div class="field-agileinfo-spc form-w3-agile-text2">
            <a href="{{ path('covoiturage_index') }}" >Back to the list</a>
            </div>
        </div>
    </form>
    <!--// Form starts here -->
</div>
<!---728x90--->
<!--copyright-->
<div class="copyright">
    <p>&copy; 2018. All For KIds Form . All Rights Reserved | Design by Geeks Group 	</p>
</div>
<!--//copyright-->

<script type="text/javascript" src="{{asset('Formulaire/js/jquery-2.2.3.min.js')}}"></script>
<!-- Time Js -->
<script type="text/javascript" src="{{asset('Formulaire/js/wickedpicker.js')}}"></script>
<script type="text/javascript">
    $('.timepicker,.timepicker1').wickedpicker({
        twentyFour: false
    });
</script>
<!--// Time Js -->
<!-- Calendar Js -->
<script src="{{asset('Formulaire/js/jquery-ui.js')}}"></script>
<script>
    $(function () {
        $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
    });
</script>
<!-- //Calendar Js -->

</body>


</html>